RewriteEngine On

#accept loading of actual files and directories
RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d

#send every thing else on the index page
RewriteRule ^(.*)$ public/routes.php?url=$1 [QSA,L]